<footer class="footer bg-tertiary text-white">
    <div class="container section mx-auto py-10">
        <div class="footer__content">
            <h4 class="text-lg font-bold mb-4">Info Kontak</h4>
            <ul class="text-sm">
                <li class="mb-2">
                    <div class="item">
                        <i class="item__icon material-icons text-white text-2xl">{{ this.theme.company_contact_number_icon }}</i>
                        <div class="item__content">
                            <p class="item__text">081945523457</p>
                        </div>
                    </div>
                </li>
                <li class="mb-2">
                    <div class="item">
                        <i class="item__icon material-icons text-white text-2xl">{{ this.theme.company_email_icon }}</i>
                        <div class="item__content">
                            <p class="item__text">nandananda11212@gmail.com</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer__content">
            <h4 class="text-lg font-bold mb-4">Daftar Link</h4>
            <ul class="text-sm">
                <li class="mb-2"><a class="hover:text-primary" href="#about">Tentang</a></li>
                <li class="mb-2"><a class="hover:text-primary" href="#pricing">Daftar Harga</a></li>
                <li class="mb-2"><a class="hover:text-primary" href="#contact">Kontak</a></li>
            </ul>
        </div>
        <div class="footer__content">
            <h4 class="text-lg font-bold mb-4">Ikuti Kami</h4>
            <ul class="flex text-sm">
                <li class="mb-2 mr-4">
                    <a href="#" target="_blank">
                        <img class="w-6 h-6" src="{{ 'assets/dist/images/facebook.svg'|theme }}" alt="Twitter Icon">
                    </a>
                </li>
                <li class="mb-2 mr-4">
                    <a href="https://instagram.com/nandananda11212" target="_blank">
                        <img class="w-6 h-6" src="{{ 'assets/dist/images/instagram.svg'|theme }}" alt="Instagram Icon">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>